body {
  background: url("../campus_background.jpg");
}

.title_section {
  background: url("../cropped_hull.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 500px;
}
.title_banner {
  text-align: center;
  background: rgba(44, 85, 162, 0.8);
  color: white;
  font-family: "Lucida Sans Unicode", "sans-serif";
  font-size: 20px;
}
ul {
  text-align: center;
  background: rgba(44, 85, 162, 0.8);
  color: white;
  font-family: "Lucida Sans Unicode", "sans-serif";
  font-size: 20px;
}
li {
  display: inline;
  margin-left: 100px;
  margin-right: 100px;
}
a {
  color: white;
  text-decoration: inherit;
}
.Roots_Description {
  color: white;
  margin-left: 100px;
}
#Roots {
  border-radius: 25px;
  float: right;
  margin-right: 50px;
}
p {
  font-size: 20px;
  font-family: "Lucida Sans Unicode", "sans-serif";
}
