body {
  background: url(https://www.visitengland.com/sites/default/files/styles/experience_page_consumer_gallery_image/public/hull_1.jpg?itok=AgGLoD0p.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
ul {
  text-align: center;
  background: rgba(44, 85, 162, 0.8);
  color: white;
  font-family: "Lucida Sans Unicode", "sans-serif";
  font-size: 20px;
}
li {
  display: inline;
  margin-left: 100px;
  margin-right: 100px;
}
a {
  color: white;
  text-decoration:inherit;
}
.title_banner {
  text-align: center;
  background: rgba(44, 85, 162, 0.8);
  color: white;
  font-family: "Lucida Sans Unicode", "sans-serif";
  font-size: 30px;
}
